.navbar1{
  justify-content: space-between;
}
.header img {
  float: left;
  width: 50px;
  height: 50px;
  background: #555;
}
.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}