<mat-card id="card">
    <mat-card-content>

  <!-- Query field from Team Leader -->
  <h5>Enter your Query To Team Member</h5>
  <form class= "query-field">
  <mat-form-field class="full-width">
    <input matInput placeholder="Query" ng-model="Query">
   </mat-form-field>
   
   <mat-card-actions>
    <button mat-raised-button color='accent' id="butn">Send</button>
   </mat-card-actions>
  </form>
  
  
    <!-- <div id="butn" align ="center">
        <mat-card-actions>
          <button mat-raised-button color='accent'>Submit</button>
          <button mat-raised-button color='accent' >Cancel</button>
          </mat-card-actions>
    </div> -->
</mat-card-content>
